<div class="default-frame">
    <div class="card">
        <div class="card-header">
            My Uploaded Files
        </div>
        <div class="card-body" style="padding: .5rem;">
            <table class="table table-dark" id="table-content">
                <thead>
                    <tr>
                        <th>
                            File names
                        </th>
                        <th>
                            Links
                        </th>
                    </tr>

                    
                </thead>
                <tbody>
                    <tr *ngFor="let it of list">
                        <td>{{it.fileName}}</td>
                        <td  class="file-link">
                            <span style="margin-right: 1rem;" routerLink="/fileview" [queryParams]="{ userID: it.userID, fileName: it.fileName}" style="cursor: pointer;">Go To</span>
                            <i class="fa fa-long-arrow-right file-icons"></i>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="outer-pagination">
            <div class="inner-pagination">
                <nav *ngIf="collectionSize">
                    <ngb-pagination 
                    (pageChange)="loadPage($event)" 
                    [(page)]="page" 
                    [collectionSize]="collectionSize" 
                    [maxSize]="8" 
                    [rotate]="true" 
                    [ellipses]="false" 
                    [boundaryLinks]="true"></ngb-pagination>
                </nav>
            </div>
        </div>
    </div>
</div>