.default-frame{
    display: flex;
    justify-content: center;
    min-height: 95%;
    background: url(../../../assets/img/login_bg.jpg) center fixed;
    background-size: cover;

    .card{    
        max-width: 60rem;
        width: 60%;
        height: min-content;
        background-color: #1e2833;
        padding: 40px;
        border-radius: 4px;
        margin-top: 10rem;
        color: #434a52;
        box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
    
        .nav-link:hover {
            background-color: #545b62;
        }

        .card-header{
            text-align: center;
            color: white;
        }
    
        .card-body{
            .file-link{
                margin-right: 1rem;

                span{
                    cursor:pointer;
                    color: #007bff;
                    text-decoration: none;
                    background-color: transparent;
                }

                span:hover {
                    color: #0056b3;
                    text-decoration: underline;
                }
            }


            .input-container{
                margin-top: 1rem;
            }
        }
    }
    
    .card-title{
        text-align: center;
        color: white;
    }
    
    #table-content{
        margin-top: 1rem !important;
        td, th {
            padding: .75rem;
            width: 50%;
            vertical-align: top;
            padding-left: 2rem;
            color: white;
        }
    }

      
    .outer-pagination{
        width: 100%;
        position: static;
        bottom: 8%;
        left: 0px;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
     
    
    
        .inner-pagination{
          background-color: white;
          width: 80%;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      } 
}
