.footer-dark {
    color: rgba(255,255,255,.5);
    background-color: #343a40!important
  }
  

  footer{
    display: flex;
    height: 5%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  