<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/search" [queryParams]="{ 
                page: 1,
                size: 9}">Caff Share</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" routerLink="/search" [queryParams]="{
                page: 1,
                size: 9}">Files</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" style="cursor:pointer;" (click)="upload()">Upload</a>
      </li>
    </ul>
    <div class="btn btn-secondary action-button d-none d-lg-block" *ngIf="!isAuthenticated()" [routerLink]='["/authentication/login"]' type="button">Log In</div>
    <div class="btn btn-primary action-button d-none d-lg-block" role="button" *ngIf="!isAuthenticated()" [routerLink]='["/authentication/register"]' routerLinkActive="active">Sign Up</div>



    <div class="dropdown dropleft" id="dropdown-menu-icon">
      <a aria-expanded="false" data-toggle="dropdown" href="#" style="margin-left: 1.2rem;"><i class="fa fa-gear"></i></a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" *ngIf="!isAuthenticated()" [routerLink]='["/authentication/login"]'>Login</a>
        <a class="dropdown-item" *ngIf="!isAuthenticated()" [routerLink]='["/authentication/register"]'>Registration</a>
        <a class="dropdown-item" *ngIf="isAuthenticated()" [routerLink]='["/authentication/profile"]'>Profile</a>
        <a class="dropdown-item" *ngIf="isAuthenticated()" routerLink='/myfiles' [queryParams]="{
          page: 1,
          size: 9}">My Files</a>
        <a class="dropdown-item" *ngIf="isAuthenticated()" [routerLink]='["/authentication/logout"]'>Logout</a>
      </div>
    </div>
  </div>
</nav>
