.registration-dark {
    min-height: 95%;
    width: 100%;
    position: relative;
    background: url(../../../../assets/img/login_bg.jpg) center no-repeat;
    background-size: cover;
  
    .input-group{
      margin-bottom: 1rem;
    }
  }
    
  .registration-dark form {
    max-width: 320px;
    width: 90%;
    background-color: #343a40!important;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #434a52;
    box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
  
  }
  
  .registration-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #007bff;
  }
  
  .registration-dark form .form-control {
    font-size: 1rem;
    outline: none;
    background: var(--white);
    border-radius: 3px;
    margin-left: 3px;
    margin-top: 0px;
  }
  
  
  .registration-dark form .btn-primary:hover, .registration-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
  }
    
    